*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
body{
    background-color: rgba(0,0,0,0.5);
}
.bg{
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover ;
    filter: blur(100px);
    height: 100%;
    width: 100%;
    top: 0px ;
    left: 0px;
}
.mark{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.head{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.head>span{
    width: 150px;
    height: 100%;
    text-align: center;
    color:whitesmoke ;
    opacity: 0.5;
    float: left;
    font-size: 24px;
    margin-left: 15px;
}

.head>span:hover{
    opacity: 1;
}

.head>a{
    display: inline-block;
    width: 50px;
    height: 100%;
    float: right;
    margin-right: 15px;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.5;
}

.head>a:hover{
    opacity: 1;
}
.content{
    width: 1300px;
    height: 700px;
    margin: 40px auto;
    color: whitesmoke;
}
.content>.playLeft{
    width: 70%;
    height: 100%;
    float: left;
}
.content>.playRight{
    width: 30%;
    height: 100%;
    float: right;
    
}
.playLeft>.btnList{
    width:100% ;
    height: 45px;
}
.btnList>.btn{
    display: inline-block;
    width: 140px;
    height: 100%;
    margin-left: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: whitesmoke;
    line-height: 45px;
    text-align: center;
    opacity: 0.5;
}

.btnList>.btn:hover{
    opacity: 1;
}
.btn>.btn-logo{
    vertical-align:-2px;
    display: inline-block;
    margin-right: 10px;
    width: 17px;
    height: 17px;
    background: url(../img/icon_sprite.png) no-repeat 0 0;
    background-position: 0px 0px;
}


.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    user-select:none ;
}
.footer>.musicControl{
    width: 1300px;
    height: 100%;
    margin: 0px auto;
}

.singBox{
    margin-top: 15px;
    width: 100%;
    height: 655px;
}
.singBox>.singList{
    width: 100%;
    height:100% ;
    overflow: auto;
    list-style: none;
}
.singList>.singInfo{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgba(146,146,146,0.3);
    box-sizing: border-box;
    opacity: 0.5;
    line-height: 45px;
    font-size: 14px;
}

.singInfo>.check{
    width: 17px;
    height: 17px;
    margin-top: 14px;
    margin-left: 15px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}
.select{
    background: url(../img/icon_sprite.png) no-repeat;
    background-position: -59px -79px;
}
.singInfo>.singName{
    width: 60%;
    height: 100%;
    margin-left: 15px;
}
.singInfo>.singAuthor{
    width: 200px;
    height: 100%;
    margin-left: 15px;
    text-align: center;
}
.singInfo>.singTime{
    width: 100px;
    height: 100%;
    text-align: center;
}
.singName>.name{
    margin-left: 15px;
}
.singInfo>div{
    float: left;
}

.playRight>.musicInfo{
    position: relative;
    width: 100%;
    height:350px;
    margin-top: 15px;
}
.musicInfo>.musicPicture{
    width: 200px;
    height: 186px;
    margin: 0px auto;
}
.musicInfo>.musicName,
.musicInfo>.musicSinger,
.musicInfo>.musicZhuanji
{
    width: 100%;
    height: 30px;
    line-height: 40px;
    margin-top: 15px;
    text-align: center;
    opacity: 0.6;
}

.musicWords{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.0);
    box-sizing: border-box;
    height: 300px;
    opacity: 0.6;
}
.musicWords>ul{
    width: 100%;
    text-align: center;
    margin: 40px auto;
}

.wordActive{
    color: #1cff1c;
}
.footer>.musicControl{
    width: 1300px;
}
.musicControl>.musicLeft{
    width: 200px;
    height: 100%;
    float: left;
}
.musicLeft>.previous,
.musicLeft>.close,
.musicLeft>.next,
.musicLeft>.start{
    display: inline-block;
    background: url(../img/player.png) no-repeat;
}
.musicLeft>.previous{
    width: 21px;
    height: 21px;
    margin-left: 30px;
    background-position: -0px -30px;
}
.musicLeft>.close{
    width: 25px;
    height: 27px;
    margin-left: 30px;
    background-position: 0px -1px;
}
.musicLeft>.start{
    width: 25px;
    height: 27px;
    margin-left: 30px;
    background-position: -28px -1px;
}
.musicLeft>.next{
    width: 21px;
    height: 21px;
    margin-left: 30px;
    background-position: 0px -52px;
}



.musicBar{
    width: 650px;
    height: 100%;
    color: whitesmoke;
    float: left;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.musicBar .time{
    float: right;
}
.musicBar .time-ing{
    float: right;
}
.timeBar{
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    margin-top: 7px;
    background-color: rgba(146,146,146,0.3);
}
.timeBar-in{
    width: 0px;
    height: 3px;
    background-color: whitesmoke;
    float: left;
}
.timePoint{
    position: absolute;
    top: -3px;
    left: 0px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: whitesmoke;
    float: left;
}
.musicControl>.playMode,
.musicControl>.playLove,
.musicControl>.playDownload,
.musicControl>.playComment,
.musicControl>.playVolume
{
    display: inline-block;
    width:26px;
    height: 25px;
    margin-left: 15px;
    background: url(../img/player.png) no-repeat;
}
.musicControl>.playModeToggle{
    display: inline-block;
    width: 74px;
    height: 26px;
    background: url(../img/player.png) no-repeat;
    margin-left: 15px;
    background-position: 0px -282px;
}
.musicControl>.open{
    background-position: 0px -311px;
}
.musicControl>.playMode{
    background-position:0px -205px ;
}
.musicControl>.playLove{
    background-position:0px -95px ;
}
.musicControl>.love{
    background-position:-30px -95px ;
}
.musicControl>.playDownload{
    background-position:0px -119px ;
}
.musicControl>.playComment{
    background-position:0px -400px ;
}
.musicControl>.playVolume{
    background-position:0px -143px ;
}
.musicControl>.mute{
    background-position:0px -180px ;
}
.musicControl>.volumeBox{
    width: 100px;
    height: 100%;
    cursor: pointer;
    float: right;
}
.musicControl .volumeBar{
    position: relative;
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
    height: 4px;
    background-color: rgba(146,146,146,0.3);
}
.volumeBar>.volume-in{
    width: 100px;
    height: 4px;
    background-color: whitesmoke;
}
.volumeBar>.volumePoint{
    position: absolute;
    left: 100px;
    top: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
}
.singName-in{
    float: right;
    margin-top: 2.5px;
    display:none;
}
.play,
.addMusci,
.share,
.delete,
.stop{
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
    background: url(../img/icon_list_menu.png) no-repeat 0 0;
}

.singInfo .stop{
    background-position: 0px 0px;
}
.singInfo .play{
    background-position: 0px -200px;
}
.singInfo .addMusci{
    background-position: 0px -80px;
}
.singInfo .share{
    background-position: 0px -40px;
}
.singInfo .delete{
    background-position: 0px -160px;
}

