.wrap {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.wrap ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0, 0);
}

.wrap ul li:nth-child(1) {
  background-color: red;
  z-index: 10;
}

.wrap ul li:nth-child(2) {
  background-color: blue;
  z-index: 8;
}

.wrap ul li:nth-child(3) {
  background-color: yellow;
  z-index: 6;
}

.wrap ul .active {
  z-index: 99;
  transition: transform 4s linear;
}
