#wrap{
    .container{
        width:1170px; 
    }

    .main{
        .left-box{
            width:66.66666666%;
            float: left;
        }
        .right-box{
            width:33.33333333%;
            float: left;
        }
    }

    .footer{
        .item{
            width: 33.333333%;
        }
    }
}