#wrap .container {
  width: 1170px;
}

#wrap .main .left-box {
  width: 66.66666666%;
  float: left;
}

#wrap .main .right-box {
  width: 33.33333333%;
  float: left;
}

#wrap .footer .item {
  width: 33.333333%;
}
