body {
  background-color: #ebebeb;
}

#wrap {
  width: 100%;
}

#wrap .container {
  padding: 0px 15px;
  margin: 0px auto;
  overflow: hidden;
}

#wrap .header {
  width: 100%;
  height: 70px;
  background: url(../01.png) center center no-repeat;
  padding: 68px 0px;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
}

#wrap .nav {
  height: 56px;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
}

#wrap .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
}

#wrap .nav ul li {
  flex: 1;
  height: 100%;
  text-align: center;
  line-height: 56px;
  font-size: 12px;
}

#wrap .nav ul li a {
  display: block;
  color: #505050;
}

#wrap .nav ul li a:hover {
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
}

#wrap .main {
  width: 100%;
  margin-top: 30px;
}

#wrap .main .left-box {
  position: relative;
  padding: 0px 15px;
  box-sizing: border-box;
}

#wrap .main .left-box .item {
  padding: 35px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

#wrap .main .left-box .item h2 {
  width: 100%;
  text-align: center;
  font-size: 34px;
}

#wrap .main .left-box .item p:nth-child(2) {
  font-size: 12px;
  color: #959595;
  text-align: center;
  padding: 15px 0px;
}

#wrap .main .left-box .item p:nth-child(2) span {
  color: #e67e22;
}

#wrap .main .left-box .item .content {
  margin: 30px 0px;
}

#wrap .main .left-box .item .content p {
  color: #444443;
  font-size: 18px;
  text-align: left;
}

#wrap .main .left-box .item .content img {
  width: 100%;
}

#wrap .main .left-box .item a {
  display: block;
  width: 86px;
  height: 36px;
  background-color: #e67e22;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 30px;
}

#wrap .main .left-box .item .bottom {
  width: 100%;
  height: 54px;
  border-top: 1px solid #ebebeb;
  line-height: 54px;
}

#wrap .main .right-box {
  position: relative;
  padding: 0px 15px;
  box-sizing: border-box;
  margin-bottom: 35px;
}

#wrap .main .right-box .item {
  padding: 20px 30px;
  margin-bottom: 35px;
  overflow: hidden;
  background-color: white;
  font-size: 12px;
}

#wrap .main .right-box .item h2 {
  font-size: 19px;
  line-height: 37px;
  overflow: hidden;
  border-bottom: 2px solid #ebebeb;
}

#wrap .main .right-box .item h2 span {
  float: left;
  display: block;
  height: 100%;
  border-bottom: 2px solid #e67e22;
}

#wrap .main .right-box .item a {
  display: block;
  padding: 13px 7px;
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
  background-color: #e67e22;
}

#wrap .main .right-box .item p {
  padding: 10px 0px;
}

#wrap .main .right-box .item p:nth-child(2) {
  color: #505050;
}

#wrap .main .right-box .item p:nth-child(n+3) {
  color: #e67e22;
}

#wrap .main .right-box .item .tab {
  border: 1px solid #959595;
  color: #959595;
  padding: 8px 7px;
  float: left;
  font-size: 12px;
  margin-right: 11px;
  margin-top: 15px;
}

#wrap .footer {
  padding-top: 35px;
  width: 100%;
  background-color: #202020;
  overflow: hidden;
  border-bottom: 1px solid #303030;
}

#wrap .footer .item {
  float: left;
  padding: 15px 15px;
  box-sizing: border-box;
}

#wrap .footer .item > h3 {
  font-size: 22px;
  color: white;
  overflow: hidden;
  line-height: 52px;
  border-bottom: 1px solid #ebebeb;
}

#wrap .footer .item > h3 span {
  height: 100%;
  float: left;
  display: block;
  border-bottom: 2px solid #e67e22;
}

#wrap .footer .item ul {
  width: 100%;
}

#wrap .footer .item ul li {
  padding: 15px 0px;
  border-bottom: 1px dashed #303030;
  color: #959595;
}

#wrap .footer .item ul li p {
  font-size: 10px;
  padding: 5px 0px;
}

#wrap .footer .item ul li p:nth-child(2) {
  color: #505050;
}

#wrap .footer .item .tab {
  border: 1px solid #303030;
  color: #959595;
  padding: 8px 7px;
  float: left;
  font-size: 12px;
  margin-right: 11px;
  margin-top: 15px;
}

#wrap > .bottom {
  width: 100%;
  background-color: #111111;
  text-align: center;
  padding: 25px 0px;
}

#wrap > .bottom p {
  color: #555555;
  font-size: 12px;
}
