*{
    margin: 0px;
    padding: 0px;
}


#warp{
    width: 1336px;
    height: 664px;
    margin: 100px auto;
}

#warp h1{
    font-size: 30px;
    line-height: 98px;
    text-align: center;
}
#warp >p{
    font-size: 15px;
    line-height: 91px;
    text-align: center;
    color: #99999b;
}

#warp .content{
    width: 1180px;
    margin: 0px auto;
    overflow: hidden;
}
#warp .content .item{
    width: 380px;
    height: 255px;
    float: left;
    margin-left: 20px;
}
#warp .content .item .image{
    width: 380px;
    height: 150px;
    background: url(../images/back.png);
    background-position: 0px 0px; 
}
#warp .content :nth-child(2) .image{
    background-position: -385px 0px; 
}
#warp .content :nth-child(3) .image{
    background-position: -800px 0px; 
}
#warp .content .item :nth-child(2){
    font-size: 15px;
    line-height: 47px;
}
#warp .content .item :nth-child(3){
    font-size: 12px;
    line-height: 22px;
    color: #99999b;
}

#warp .content ul{
    float: left;
    width: 364px;
    padding-top: 40px;
    margin-left: 25px;
}

#warp .content ul li{
    font-size: 13px;
    line-height: 34px;
}
#warp .content ul li span{
    float: right;
    margin-right: 15px;
}