#wrap{
    width: 100%;
}

#wrap>div{
    width: 100%;
}

#wrap .content{
    width: 1200px;
    height: 100%;
    margin: 0px auto;

}
.clearfix::after{
    content: "";
    height: 0px;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

#wrap .header{
    height: 34px;
    font-size: 12px;
    color: #666666;
    line-height: 34px;
    background-color: #f5f5f5;
}
#wrap .header .left{
    float: left;
}
#wrap .header .left span{
    margin-right: 15px;
}
#wrap .header .left span:nth-child(2){
    display: inline-block;
    width: 75px;
    background: url(../images/o_1cv02q3ep1jae1os0snrn4v5i89.png) right center no-repeat;
    background-size: 9px 12px;
}
#wrap .header ul{
    float:right;
    height: 34px;
}

#wrap .header ul li{
    float: left;
    padding: 0px 15px;
}
#wrap .header ul li a{
    color: #666666;
    vertical-align: middle;
}
#wrap .header .right span{
    float: right;
    display: block;
    margin-right:15px;
    padding-top: 2px; 
}

#wrap .nav{
    height: 80px;
    line-height: 80px;
}
#wrap .nav h1{
    text-indent: -9999px;
    width: 130px;
    height: 100%;
    float: left;
    background: url(../images/logo.png) center center no-repeat;
    background-size: 100%;
}
#wrap .nav p{
    float: left;
    color: #666666;
    font-size: 12px;
    margin-left: 20px;
    vertical-align: middle;
}
#wrap .nav img{
    width: 10px;
}
#wrap .nav ul{
    float: left;
}
#wrap .nav li{
    position: relative;
    float: left;
    padding: 0px 19px;
    font-size: 14px;
}
#wrap .nav li img{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 34px;
}

#wrap .nav li a{
    height: 77px;
    color: black;
    display: block;
}
#wrap .nav li a:hover{
    color: #f83244;
    
    border-bottom: 3px solid #f83244;
}
#wrap .nav .search{
    float: right;
    width: 219px;
    height: 40px;
    font-size: 0px;
}
#wrap .nav .search input:nth-child(1){
    width: 149px;
    height: 40px;
    padding: 0px 15px;
    font-size: 12px;
    background-color: #f5f5f5;
}

#wrap .nav .search input:nth-child(2){
    width: 40px;
    height: 40px;
    cursor: pointer;
    background:#f83244 url(../images/fangdajing.png) center center no-repeat;

}

#wrap .banner{
    position: relative;
    height: 360px;
}
#wrap .banner .lunbotu li{
    width: 100%;
    height: 100%;
    position: absolute;
}
#wrap .banner .lunbotu li img{
    width: 100%;
    height: 100%;
}
#wrap .banner .point{
    width: 128px;
    height: 8px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}
#wrap .banner .point li{
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 50%;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.6);
}

#wrap .banner-nav{
    position: absolute;
    width: 210px;
    height: 100%;
    background-color: #323233d4;
}
#wrap .banner-nav ul{
    padding: 0px 15px;
}
#wrap .banner-nav ul li{
    overflow: hidden;
    line-height: 40px;
}
#wrap .banner-nav ul li img{
    display: block;
}
#wrap .banner-nav ul li span:nth-child(1){
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin-top: 9px;
}
#wrap .banner-nav ul li span:nth-child(2){
    float: left;
    font-size: 16px;
    margin-left: 5px;
    color: white;
}

#wrap .banner-nav ul li span:nth-child(3){
    float: right;
    font-size: 12px;
    color: #c2bfc1;
    display: block;
}

#wrap .items{
    height: 180px;
}
#wrap .items .item{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}
#wrap .items .item img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
}
#wrap .items .item p{
    font-size: 17px;
    line-height: 49px;
}

#wrap .main .content .left{
    width: 522px;
    height: 300px;
    padding: 0px 40px;
    border-radius: 10px;
    float: left;
    background: url(../images/bg-a.png) center center no-repeat;
    background-size:cover; 
}

#wrap .main .content .left h3{
    font-size: 23px;
    color: white;
    margin-top: 41px;
}
#wrap .main .content .left .selects{
    margin-top: 40px;
}
#wrap .main .content .left select{
    width: 166px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 4px;
}
#wrap .main .content .left  .search-btn{
    width: 160px;
    height: 48px;
    background-color: white;
    line-height: 48px;
    text-align: center;
    margin-top: 30px;
    margin-left: 180px;
    border-radius: 30px;
}
#wrap .main .content .left  .search-btn a{
    color: #f83244;
    display: block;
    font-size: 15px;
}
#wrap .main .content .left  .search-btn a span{
    vertical-align: middle;
}


#wrap .main .content .center {
    width: 240px;
    height: 300px;
    float: left;
    border-radius: 10px;
    margin-left:12px; 
    text-align: center;
    background: url(../images/bg-b.png) center center no-repeat;
    background-size: cover;
}
#wrap .main .content .center  h3{
    font-size: 30px;
    color: white;
    margin-top: 64px;
}
#wrap .main .content .center p{
    font-size: 17px;
    color: white;
    margin-top: 21px;
    margin-bottom: 65px;
}
#wrap .main .content .center p span{
    color: #fff609;

}
#wrap .main .content .center a{
    display: block;
    width: 160px;
    height: 48px;
    background-color: white;
    color: #fa5243;
    line-height: 48px;
    text-align: center;
    border-radius: 30px;
    margin: 0px auto;

}

#wrap .main .content .right{
    float: right;
    width: 254px;
    height: 300px;
    padding: 0px 40px;
    box-shadow: 1px 5px 3px #a7a7a7;
}
#wrap .main .content .right h3{
    font-size: 24px;
    margin-top: 42px;
}
#wrap .main .content .right .item{
    width: 56px;
    height: 66px;
    float: left;
    margin-right: 28px;
    margin-top: 15px;
    text-align: center;
}
#wrap .main .content .right .item img{
    width: 30px;
    height: 30px;
}
#wrap .main .content .right .item  p{
    font-size: 12px;
    margin-top: 20px;
}
#wrap .main .content ul,
#wrap .hotcity2 .content ul,
#wrap .meitu  ul{
    float: left;
    padding: 45px 0px;
}
#wrap .main .content ul li,
#wrap .hotcity2 .content ul li,
#wrap .meitu ul li{
    float: left;
    font-size: 12px;
    padding: 0px 15px;
}
#wrap .main .content ul li:nth-child(1),
#wrap .hotcity2 .content ul li:nth-child(1),
#wrap .meitu  ul li:nth-child(1){
    padding: 0px 20px;
    border-right:1px solid #ccc;
}

#wrap .content h2{
    font-size: 31px;
    line-height: 81px;
    text-align: center;
}

#wrap .taocan .item{
    position: relative;
    width: 386px;
    height: 340px;
    float: left;
    margin-right: 21px;
}
#wrap .taocan .item .address{
    position: absolute;
    top: 14px;
    right: -10px;
    width: 80px;
    height: 32px;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.8);
}
#wrap .taocan .item p{
    font-size: 17px;
    padding: 0px 15px;
    margin-top: 15px;
}
#wrap .taocan .item p span:nth-child(1){
    font-size: 26px;
    color: #f83244;
    float: left;
}
#wrap .taocan .item p span:nth-child(2){
    float: right;
    font-size: 12px;
    padding-top: 15px;
    color: #666666;
}
#wrap .taocan .item-min{
    position: relative;
    width: 284px;
    height: 262px;
    float: left;
    margin-top: 40px;
    margin-right: 20px;
}

#wrap .taocan .item-min .bottom{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 254px;
    height: 98px;
    background-color: white;
}

#wrap .taocan .item-min .bottom h4{
    font-size: 15px;
    padding: 5px 15px;
}
#wrap .taocan .item-min .bottom p{
    font-size: 12px;
    color: #666666;
    padding: 5px 15px;
}
#wrap .taocan .item-min .bottom span{
    font-size: 15px;
    color: #f83244;
    font-weight: bold;
    padding: 5px 15px;
}

#wrap .hotcity .bgimage{
    position: relative;
    width: 238px;
    height: 358px;
    float: left;
    margin-top: 46px;
}

#wrap .hotcity .bgimage:nth-child(2){
    background: url(../images/w-pic1.jpg) center center no-repeat;
}
#wrap .hotcity .bgimage:nth-child(4){
    background: url(../images/w-pic5.png) center center no-repeat;
}
#wrap .hotcity .center{
    width: 718px;
    height: 358px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 46px;
    margin-bottom: 40px;
}
#wrap .hotcity .center .pic{
    position: relative;
    width: 238px;
    height: 178px;
    float: left;
    margin-bottom: 2px;
    margin-left: 1px;
}
#wrap .hotcity .center .pic:nth-child(1){
    background: url(../images/w-pic2.jpg) center center no-repeat;
}
#wrap .hotcity .center .pic:nth-child(2){
    background: url(../images/w-pic3.jpg) center center no-repeat;
}
#wrap .hotcity .center .pic:nth-child(3){
    background: url(../images/w-pic4.jpg) center center no-repeat;
}
#wrap .hotcity .center .pic:nth-child(4){
    background: url(../images/w-pic6.jpeg) center center no-repeat;
}
#wrap .hotcity .center .pic:nth-child(5){
    background: url(../images/w-pic7.jpg) center center no-repeat;
}
#wrap .hotcity .center .pic:nth-child(6){
    background: url(../images/w-pic8.jpg) center center no-repeat;
}
#wrap .hotcity p{
    position: absolute;
    padding: 0px 15px;
    left: 0px;
    right:0px;
    line-height: 52px;
    color: white;
    font-size: 14px;
    bottom: 0px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.6);
}
#wrap .hotcity .a-center{
    padding: 40px;
    width: 160px;
    margin: 0px auto;
}

#wrap .hotcity a{
    float: left;
    width: 160px;
    height: 48px;
    font-size: 16px;
    background-color: #f83244;
    border-radius: 30px;
    color: white;
    display: block;
    line-height: 48px;
    text-align: center;
    
}

#wrap .hotcity a span{
    vertical-align: middle;
}
#wrap .pic-box {
    position: relative;
    overflow: hidden;
    height: 904px;
    margin-top: 100px;
}

#wrap .pic-box .content{
    height: 100px;
}

#wrap .pic-box .swiper{
    width: 3430px;
    margin-top: 200px;
}

#wrap .pic-box .swiper li{
    width: 440px;
    height: 275px;
    float: left;
    margin-right: 50px;
}
#wrap .pic-box .swiper .lis{
    opacity: 0.9;
    transition: all 0.4s ease;
}
#wrap .pic-box .swiper .center{
    position: absolute;
    width: 640px;
    height: 544px;
    left: 50%;
    opacity: 1;
    z-index: 99;
    top:150px;
    transition: all 0.4s ease;
    box-shadow: 0px 1px 5px #2b2b2b42;
    transform: translateX(-50%);
}

#wrap .pic-box .swiper li .image{
    width: 100%;
    height: 275px;
}
#wrap .pic-box .swiper .center .image{
    height: 396px;
}

#wrap .pic-box  .swiper li .image img{
    width: 100%;
    height: 100%;
}

#wrap .pic-box  .swiper li .intro{
    position: absolute;
    width: 100%;
    height: 148px;
    display: none;
    background-color: white;
}

#wrap .pic-box .swiper li .intro h3{
    font-size: 25px;
    margin-top: 40px;
    padding: 0px 28px;
}

#wrap .pic-box  .swiper li .intro  p{
    font-size: 12px;
    color: #666666;
    margin-top: 20px;
    padding: 0px 28px;
}
#wrap .pic-box  .swiper li .intro p span:nth-child(1){
    float: left;
}

#wrap .pic-box  .swiper li .intro p span:nth-child(2){
    float: right;
}

#wrap .pic-box .swiper li .intro a{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -23px;
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    line-height: 56px;
    text-align: center;
    background-color: #f83244;
}

#wrap .pic-box .point{
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: 140px;
    transform: translateX(-50%);
}

#wrap .pic-box .point li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 24px;
    float: left;
    background-color: #cccccc;
}
#wrap .pic-box a{
    position: absolute;
    display: block;
    width: 160px;
    height: 48px;
    background-color: #f83244;
    line-height: 48px;
    font-size: 14px;
    color: white;
    text-align: center;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

#wrap .pic-box >p{
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: #666666;
    text-align: center;
    bottom: 10px;
}

#wrap  .liucheng{
    height: 470px;
    margin-top: 60px;
    background: url(../images/bg.png) top center no-repeat;
    background-size: 100% 310px;
}
#wrap  .liucheng h2{
    padding: 60px 0px 30px 0px;
}

#wrap  .liucheng .liucheng-in{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #00000047;
}

#wrap  .liucheng .liucheng-in .item{
    width: 150px;
    height: 100%;
    float: left;
    text-align: center;
}

#wrap  .liucheng .liucheng-in .item img{
    width: 32px;
    margin-top: 80px;
}
#wrap  .liucheng .liucheng-in .item p{
    font-size: 15px;
    margin-top: 40px;
    color: #333333;
}

#wrap .hotcity2{
    height: 450px;
}

#wrap .hotcity2 .item{
    position: relative;
    width: 224px;
    height: 198px;
    float: left;
    margin-right: 20px;
    box-shadow: 0px 1px 5px #9898984d;
    margin-top: 30px;
}
#wrap .hotcity2 .item p{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 18px;
    padding: 15px 15px; 
}
#wrap .hotcity2 .item:nth-child(2){
    background: url(../images/list1.png) center top no-repeat;

}
#wrap .hotcity2 .item:nth-child(3){
    background: url(../images/list2.png) center top no-repeat;

}
#wrap .hotcity2 .item:nth-child(4){
    background: url(../images/list3.png) center top no-repeat;

}
#wrap .hotcity2 .item:nth-child(5){
    background: url(../images/list4.png) center top no-repeat;

}
#wrap .hotcity2 .item:nth-child(6){
    background: url(../images/list5.png) center top no-repeat;

}

#wrap .yongpin{
    position: relative;
    height: 620px;
}

#wrap .yongpin ul{
    width: 416px;
    margin: 0px auto;
}
#wrap .yongpin ul li{
    float: left;
    font-size: 15px;
    margin-right: 10px;
}

#wrap .yongpin .item{
    position: relative;
    width: 284px;
    height: 338px;
    float: left;
    margin-right: 20px;
    margin-top: 40px;
}

#wrap .yongpin .item .item-in{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 223px;
    height: 108px;
    background-color: white;
    padding: 0px 15px;
    box-shadow: 0px 1px 3px 0px #bfbfbf66;
}

#wrap .yongpin .item .item-in h3{
    font-size: 24px;
    margin-top: 24px;
}
#wrap .yongpin .item .item-in div{
    width: 40px;
    height: 2px;
    background-color: #f83244;
}
#wrap .yongpin .item .item-in p{
    font-size: 12px;
    color: #666666;
    padding: 15px 0px 5px 0px ;
}
#wrap .yongpin a{
    position: absolute;
    display: block;
    width: 160px;
    height: 48px;
    background-color: #f83244;
    line-height: 48px;
    font-size: 14px;
    color: white;
    text-align: center;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

#wrap .meitu{
    height: 1606px;
}

#wrap .meitu .meitu-in{
    height: 1430px;
    background: url(../images/meitu.png) center top no-repeat;
    background-size: auto 1386px;
}
#wrap .meitu .meitu-in .content{
    height: 100px;
    color: white;
}
#wrap .meitu .meitu-in .meitu-main{
    position: relative;
    width: 1320px;
    margin: 0px auto;
}

#wrap .meitu .meitu-in .meitu-main .meitu-lt-bg{
    width: 660px;
    height: 510px;
    float: left;
}
#wrap .meitu .meitu-in .meitu-main  img{
    display: block;
}

#wrap .meitu .meitu-in .meitu-main .meitu-rt{
    padding-top:60px; 
    width: 660px;
    height: 330px;
    background-color: #111111;
    float: left;
    margin-top: 120px;
}
#wrap .meitu .meitu-in .meitu-main .meitu-rt img{
    opacity: 0.6;
    float: left;
}
#wrap .meitu .meitu-in .meitu-main .meitu-rt .text{
    float: right;
    width: 208px;
    color: white;
    padding: 0px 60px;
}
#wrap .meitu .meitu-in .meitu-main .meitu-rt .text h3{
    font-size: 32px;
}

#wrap .meitu .meitu-in .meitu-main .meitu-rt .text p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 44px;
}

#wrap .meitu .meitu-in .meitu-main .meitu-rt .text a{
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-top: 70px;
    background: #f83244 url(../images/youjiantou-baise.png) center center no-repeat;

}

#wrap .meitu .meitu-in .meitu-main .box{
    width: 25%;
    height: 330px;
    float: left;
    line-height: 330px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #222222;
}
#wrap .meitu .meitu-in .meitu-main .box img{
    opacity: 0.6;
}

#wrap .meitu .meitu-in .meitu-main .meitu-b-lt{
    width: 510px;
    height: 394px;
    background-color: black;
    float: left;
    padding: 0px 75px;
    color: white;
}

#wrap .meitu .meitu-in .meitu-main .meitu-b-lt h3{
    font-size: 32px;
    margin-top: 60px;
}

#wrap .meitu .meitu-in .meitu-main .meitu-b-lt p{
    font-size: 17px;
    line-height: 32px;
    margin-top: 48px;
}
#wrap .meitu .meitu-in .meitu-main .meitu-b-lt a{
    width: 56px;
    height: 56px;
    background-color: #f83244;
    display: block;
    border-radius: 50%;
    line-height: 56px;
    text-align: center;
    margin-top: 70px;
}
#wrap .meitu .meitu-in .meitu-main .meitu-b-lt a img{
    display: inline-block;
}
#wrap .meitu .meitu-in .meitu-main  ul{
    position: absolute;
    bottom: -40px;
    left: 0px;
}