@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
}

body i, html i {
  font-style: normal;
}

body .show, html .show {
  display: block;
}

body .faed, html .faed {
  display: none !important;
}

body #wrap, html #wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  max-width: 750px;
  margin: 0px auto;
}

body #wrap .header, html #wrap .header {
  display: flex;
  padding: 0px 15px;
  height: 45px;
  line-height: 45px;
  justify-content: space-between;
  font-weight: bold;
}

body #wrap .header .iconfont, html #wrap .header .iconfont {
  font-size: 19px;
  height: 100%;
}

body #wrap .header .search, html #wrap .header .search {
  width: 75%;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 2px;
  background-color: #717171;
  border-radius: 4px;
  color: #ccc;
  font-size: 0px;
  padding: 0px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
}

body #wrap .header .search input, html #wrap .header .search input {
  flex: 9;
  height: 100%;
  background-color: #717171;
  color: white;
}

body #wrap .header .search i, html #wrap .header .search i {
  flex: 1;
  line-height: 30px;
  font-size: 15px;
}

body #wrap .header .search input::placeholder, html #wrap .header .search input::placeholder {
  color: white;
}

body #wrap .header h1, html #wrap .header h1 {
  text-indent: -9999px;
  width: 130px;
  height: 100%;
  margin: 0px auto;
  background: url(../images/logo.png) center center no-repeat;
  background-size: 100%;
}

body #wrap .main, html #wrap .main {
  width: 100%;
  flex: 1;
  overflow: auto;
  background-color: #f4f4f4;
}

body #wrap .main .banner, html #wrap .main .banner {
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
}

body #wrap .main .banner .siwerp, html #wrap .main .banner .siwerp {
  position: absolute;
  display: flex;
  width: 200%;
  height: 100%;
}

body #wrap .main .banner .siwerp li, html #wrap .main .banner .siwerp li {
  height: 100%;
  flex: 1;
}

body #wrap .main .banner .siwerp li img, html #wrap .main .banner .siwerp li img {
  width: 100%;
  height: 100%;
}

body #wrap .main .banner .points, html #wrap .main .banner .points {
  position: absolute;
  width: 17px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13px;
}

body #wrap .main .banner .points li, html #wrap .main .banner .points li {
  width: 6px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

body #wrap .main .banner .points li:nth-last-child(1), html #wrap .main .banner .points li:nth-last-child(1) {
  margin-right: 0px;
}

body #wrap .main .nav, html #wrap .main .nav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #ffffff;
}

body #wrap .main .nav .item, html #wrap .main .nav .item {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body #wrap .main .nav .item p, html #wrap .main .nav .item p {
  font-size: 7px;
  color: #292929;
}

body #wrap .main .nav .item img, html #wrap .main .nav .item img {
  width: 40%;
}

body #wrap .main .title, html #wrap .main .title {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  margin: 10px 0px;
  background: url(../images/bg.png) center center no-repeat;
  background-size: 100%;
}

body #wrap .main .title .content, html #wrap .main .title .content {
  width: 50%;
  height: 100%;
  margin: 0px auto;
  overflow: hidden;
}

body #wrap .main .title .content ul, html #wrap .main .title .content ul {
  width: 100%;
  height: 100%;
}

body #wrap .main .title .content ul li, html #wrap .main .title .content ul li {
  display: flex;
  padding: 10px 0px;
}

body #wrap .main .title .content ul li span:nth-child(1), html #wrap .main .title .content ul li span:nth-child(1) {
  width: 28px;
  height: 16px;
  font-size: 6px;
  text-align: center;
  line-height: 16px;
  vertical-align: center;
  border: 1px solid #d5cdb8;
  color: #d5cdb8;
}

body #wrap .main .title .content ul li span:nth-child(2), html #wrap .main .title .content ul li span:nth-child(2) {
  font-size: 8px;
  margin-left: 15px;
}

body #wrap .main .main-in, html #wrap .main .main-in {
  padding: 0px 12px;
  background-color: white;
}

body #wrap .main .main-in .hot, html #wrap .main .main-in .hot {
  width: 100%;
  margin-bottom: 15px;
}

body #wrap .main .main-in img, html #wrap .main .main-in img {
  width: 100%;
}

body #wrap .main .main-in .shop, html #wrap .main .main-in .shop {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow: auto;
}

body #wrap .main .main-in .shop ul, html #wrap .main .main-in .shop ul {
  display: flex;
}

body #wrap .main .main-in .shop ul li, html #wrap .main .main-in .shop ul li {
  width: 100px;
  height: 150px;
  flex-shrink: 0;
  padding: 0px 10px;
  text-align: center;
}

body #wrap .main .main-in .shop ul li p, html #wrap .main .main-in .shop ul li p {
  font-size: 6px;
}

body #wrap .main .main-in .shop ul li span, html #wrap .main .main-in .shop ul li span {
  font-size: 8px;
  font-weight: bold;
}

body #wrap .main .main-in .bimai, html #wrap .main .main-in .bimai {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
}

body #wrap .main .main-in .bimai p:nth-child(1), html #wrap .main .main-in .bimai p:nth-child(1) {
  letter-spacing: 15px;
  font-size: 15px;
  font-weight: bold;
}

body #wrap .main .main-in .bimai p:nth-child(2), html #wrap .main .main-in .bimai p:nth-child(2) {
  font-size: 7px;
}

body #wrap .main .hot-shop, html #wrap .main .hot-shop {
  padding: 0px 20px;
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body #wrap .main .hot-shop .item, html #wrap .main .hot-shop .item {
  width: 46%;
  height: 223px;
  margin-bottom: 15px;
  background-color: white;
}

body #wrap .main .hot-shop .item p:nth-child(2), html #wrap .main .hot-shop .item p:nth-child(2) {
  padding: 0px 10px;
  font-size: 8px;
  font-weight: bold;
  overflow: hidden;
  /*超出部分隐藏*/
  text-overflow: ellipsis;
  /*超出部分省略号显示*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body #wrap .main .hot-shop .item p:nth-child(3), html #wrap .main .hot-shop .item p:nth-child(3) {
  padding: 10px 10px;
}

body #wrap .main .hot-shop .item p:nth-child(3) span:nth-child(1), html #wrap .main .hot-shop .item p:nth-child(3) span:nth-child(1) {
  font-size: 11px;
  color: #fc4a7c;
  float: left;
}

body #wrap .main .hot-shop .item p:nth-child(3) span:nth-child(2), html #wrap .main .hot-shop .item p:nth-child(3) span:nth-child(2) {
  font-size: 9px;
  color: #a0a0a0;
  float: right;
}

body #wrap .main .hot-shop .item img, html #wrap .main .hot-shop .item img {
  width: 100%;
}

body #wrap .footer, html #wrap .footer {
  width: 100%;
  height: 65px;
  display: flex;
  text-align: center;
  box-shadow: 0px 0px 3px #dadada;
}

body #wrap .footer a, html #wrap .footer a {
  display: block;
  height: 100%;
  flex: 1;
  line-height: 16px;
}

body #wrap .footer a p, html #wrap .footer a p {
  color: #bcbcbc;
  font-size: 12px;
}

body #wrap .footer a img, html #wrap .footer a img {
  width: 40px;
}
