body, html{
    width: 100%;
    height: 100%;

    i{
        font-style: normal;
    }

    .show{
        display: block;
    }

    .faed{
        display: none !important;
    }


    #wrap{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        max-width: 750px;
        margin: 0px auto;
        .header{
            display: flex;
            padding: 0px 15px;
            height: 45px;
            line-height: 45px;
            justify-content: space-between;
            font-weight: bold;

            .iconfont{
                font-size: 19px;
                height: 100%;
            }

            .search{
                width: 75%;
                height: 30px;
                margin-top: 8px;
                margin-bottom: 2px;
                background-color: #717171;
                border-radius:4px;
                color: #ccc;
                font-size: 0px;
                padding: 0px 15px 0px 15px;
                display: flex;
                justify-content: space-between;
                input{
                    flex: 9;
                    height: 100%;
                    background-color: #717171;
                    color: white;
                }
                i{
                    flex: 1;
                    line-height: 30px;
                    font-size: 15px;
                }
                input::placeholder{
                    color: white;

                }
            }

            h1{
                text-indent: -9999px;
                width: 130px;
                height: 100%;
                margin: 0px auto;
                background: url(../images/logo.png) center center no-repeat;
                background-size: 100%;
            }
        }

        .main{
            width: 100%;
            flex: 1;
            overflow: auto;
            background-color: #f4f4f4;
            
            .banner{
                position: relative;
                width: 100%;
                height: 210px;
                overflow: hidden;
                .siwerp{
                    position: absolute;
                    display: flex;
                    width: 400%;
                    height: 100%;
                    transition: all 0.4s;
                    
                    li{
                        height: 100%;
                        flex: 1;
                        transition: all 0.4s;
                        transform: translate(0,0);
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .points{
                    position: absolute;
                    width: 17px;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 13px;
                    li{
                        width: 6px;
                        height: 4px;
                        background-color: rgba(0,0,0,0.6);
                        float: left;
                        margin-right: 5px;
                        border-radius: 5px;
                    }

                    li:nth-last-child(1){
                        margin-right: 0px;
                    }
                }
            }

            .nav{
                width: 100%;
                height: 80px;
                display: flex;
                background-color: #ffffff;
                .item{
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    p{
                        font-size: 7px;
                        color: #292929;
                    }
                    img{
                        width: 40%;
                    }
                }
            }

            .title{
                width: 100%;
                height: 64px;
                background-color: #ffffff;
                margin: 10px 0px;
                background: url(../images/bg.png) center center no-repeat;
                background-size: 100%;

                .content{
                    width: 50%;
                    height: 100%;
                    margin: 0px auto;
                    overflow: hidden;
                    ul{
                        width: 100%;
                        height: 100%;
                        li{
                            display: flex;
                            padding: 10px 0px;
                            span:nth-child(1){
                                width: 28px;
                                height: 16px;
                                font-size: 6px;
                                text-align: center;
                                line-height: 16px;
                                vertical-align: center;
                                border: 1px solid #d5cdb8;
                                color: #d5cdb8;
                            }
                            span:nth-child(2){
                                font-size: 8px;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }

            .main-in{
                padding: 0px 12px;
                background-color: white;
                .hot{
                    width: 100%;
                    margin-bottom: 15px;
                }
                img{
                    width: 100%;
                }

                .shop{
                    width: 100%;
                    height: 100%;
                    margin-bottom: 10px;
                    overflow: auto;
                    ul{
                        display: flex;
                        li{
                            width: 100px;
                            height: 150px;
                            flex-shrink: 0;
                            padding: 0px 10px;
                            text-align: center;
                            p{
                                font-size: 6px;
                            }
                            span{
                                font-size: 8px;
                                font-weight: bold;                            }
                        }
                    }
                }

                .bimai{
                    width: 100%;
                    margin: 10px 0px;
                    text-align: center;
                   
                    p:nth-child(1){
                        letter-spacing: 15px;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    p:nth-child(2){
                        font-size: 7px;
                    }
                }
            }

            .hot-shop{
                padding: 0px 20px;
                margin:10px 0px; 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item{
                    width: 46%;
                    height: 223px;
                    margin-bottom: 15px;
                    background-color: white;
                    p:nth-child(2){
                        padding: 0px 10px;
                        font-size: 8px;
                        font-weight: bold;
                        overflow: hidden;/*超出部分隐藏*/
                        text-overflow:ellipsis;/*超出部分省略号显示*/
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                    }
                    p:nth-child(3){
                        padding: 10px 10px;
                    }
                    p:nth-child(3) span:nth-child(1){
                        font-size: 11px;
                        color: #fc4a7c;
                        float: left;
                    }
                    p:nth-child(3) span:nth-child(2){
                        font-size: 9px;
                        color: #a0a0a0;
                        float:right;
                    }


                    img{
                        width: 100%;
                    }
                }
            }

        }

        .footer{
            width: 100%;
            height: 65px;
            display: flex;
            text-align: center;
            box-shadow: 0px 0px 3px #dadada;

            a{
                display: block;
                height: 100%;
                flex: 1;
                line-height: 16px;
                p{
                    color: #bcbcbc;
                    font-size: 12px;
                }
                img{
                    width: 40px;
                }
            }
        }
    }
}

@keyframes flash1-right{
    0%{transform: translateX(-50%)}
    100%{transform: translateX(0%)}
} 


@keyframes flash1-left{
    0%{transform: translateX(0%)}
    100%{transform: translateX(-50%)}
} 

